/* Crie um arquivo no mesmo diretório e nomeie-o de ‘style.css’.*/
h1, p {
    text-align: center;
}

#list {
    list-style: none;
    text-align: center;
}

/* A cor de fundo da sua lista mude quando o cursor estiver sobre o item */
#google:hover {
    background-color: rgb(222, 22, 115);
}

#linkedin:hover {
    background-color: rgb(222, 22, 115);
}

#skyscanner:hover {
    background-color: rgb(222, 22, 115);
}

/* A fonte do item mude quando ele for clicado */
#list:active {
    font-family: 'Vina Sans', cursive;
}