.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
}
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    margin-left: 150px;
  }
  
  .baloon {
    position: absolute;
    top: 200px;
    left: 450px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    right: 430px;
    top: 240px;
    z-index: 2;
}
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 760px;
    top: 350px;
  }